.banner {
    align-items: center;
    background-image: url("images/thought-catalog-214785.jpg");
    display: flex;
    padding: 6em 0 2em 0;
    background-position: center;
    background-size: cover;
    height: 40em;
    margin-bottom: -3.25em;
    max-height: 32em;
    min-height: 22em;
    position: relative;
    top: 0.01em;
}

.banner:after {
    background-color: #242943;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
}

.intro {
	width: 100%;
    max-height: 32em;
    min-height: 22em;
	padding: 100px;
	font: 20px/1.6 Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}