header {
	background-color: #2a2f4f;
	height: 50px;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

nav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px;
	margin: 0 135px 0 100px;
	order: 1;
	text-align: left;
}

.nav-items {
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 20px;
	text-decoration: none;
	text-decoration-color: aliceblue;
}

.item {
	padding: 0 0 0 40px;
}

.logo {
    color: aliceblue;
    font: 45px Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	width: 100px;
    height: 100px;
    letter-spacing: 1ch;
}

@media screen and (max-width:850px) {
    header {
        height: 100px;
    }
    .logo {
        height: 50px;
        text-align: center;
    }
    nav {
        align-items: center;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}