@charset "utf-8";
@import "footer.css";
@import "header.css";
@import "banner.css";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.site-wrapper {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	margin: 0 100px 0 100px;
	flex: 1;
	padding: 10px 0 20px 0;
}

li,a {
	text-decoration: none;
	font-size: 30px/20 Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-transform: uppercase;
	color: aliceblue;
}

p, h1, h4 {
	color: #242943;
}

a:hover {
	color: aqua;
}

.social {
	padding: 10px;
	width: 50px;
	height: 50px;
}

.blogs-grid {
	display: grid;
	width: 100%;
	grid-gap: 20px;
	justify-content: center;
	grid-template-rows: 250px 250px 250px;
	grid-template-columns: 30% 30% 30%;
}

.card {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
	padding: 2px 16px;
}

.blog-image {
	height: 70%;
}

.blog-post {
	display: flex;
	flex-direction: column;
	margin: 10px 70px 10px 70px;
}

.blog-title {
	align-self: center;
	font-size: 60px;
	margin: 10px;
}

.post-image {
	height: 400px;
	width: 100%;
}

.image {
	margin: 20px 0 20px 0;
}

.end-of-post {
	align-self: center;
	width: 100%;
	display: grid;
	grid-template-rows: 200px;
	grid-template-columns: 70% 30%;
	grid-gap: 30px;
}

.social-sharing {
	order:2;
	display:flex;
	flex-direction: column;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin: 0 50px 0 0;
	padding: 50px 50px 50px 50px;
}

.sharing-text {
	margin-bottom: 20px;
}
.author-info {
	order: 1;
	display: grid;
	grid-template-columns: 100px 400px;
    grid-template-rows: 20px 20px 20px 20px;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	padding: 50px;
}

.author-avatar {
	grid-area: 1 / 1 / 4 / 2;
	height: 50px;
	width: 50px;
}

.author-name { 
	grid-area: 1 / 2 / 2 / 3;
	font-size: 20px;
}

.author-title { 
	grid-area: 2 / 2 / 3 / 3;
	opacity: 0.8;
}

.author-company { 
	grid-area: 3 / 2 / 4 / 3;
	opacity: 0.8;
}

.author-bio {
	margin: 20px 0 40px 0;
	grid-area: 4 / 1 / 5 / 3;
	opacity: 0.8;
}

.blog-article {
	font: 25px/1.6 normal;
}

.social-items {
	display: flex;
}