@charset "utf-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
/*
	background-color: #FBF8F5;
*/
}
.site-wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.site-content{
   flex: 1
}
li,a {
	text-decoration: none;
	font-size: 30px/20 Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-transform: uppercase;
	color: aliceblue;
}

a:hover {
	color: aqua;
}

header, footer {
	background-color: #2e3f7f;
	height: 100px;
	width: 100%;
}

.social {
	padding: 10px;
	width: 50px;
	height: 50px;
}

.social:hover {
	color:aqua
}
nav {
	order: 2;
	text-align: left;
}

.nav-items {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 20px;
	text-decoration: none;
	text-decoration-color: aliceblue;
}

.item {
	padding: 30px 0 0 40px;
}

.logo {
	width: 100px;
	height: 100px;
}

.footer {
	background-color: #192b63;
	padding: 20px;
	height: 50px;
	width: 100%;
}
